@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Quintessential&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9CF99;
}

/* Header */
.logo-container{
    text-align: center;
    background-color: #8C523B;
}
.logo img {
    width: 5%;
    height: 5%;
}

.menu{
    background-color: #43231B;
}

.lista{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;

}

.link{
    text-decoration: none;
    color: #8F8360 ;
    font-size: clamp(16px, 4vw, 32px);
}


/* Main */

/* Frase de inicio*/
#inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inicio img {
    width: 30%;
}

.frase {
    width: 70%;
    font-size: clamp(32px, 6vw, 64px);;
    color: #43231B;
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
}


/* Obras y legado*/
.obra-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.obra-img{
    flex: 1;
    padding: 15px;
}

.obra-img img {
    width: 70%;
    height: auto;
}

.obra-texto{
    flex: 1.5;
}

.encabezado{
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    padding: 15px;
    color: #3C3316;

}

.titulo{
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding: 15px;
    color: #8C523B;

}

.subtitulo{
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: #43231B;
}

p{
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
    color: #43231B;
    padding: 15px;
}

/* Tienda */

.prod-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;
}

.prod-item{
    border: 2px solid #8F8360;
    border-radius: 8px;
    padding: 8px;
}

.item-tit{
    color: #43231B;
    text-align: center;
    margin-bottom: 8px;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
}
.img-card{
    width: 280px;
}

.precio{
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0;
    color: #8C523B;
}


.descripcion{
    width: 280px;
    margin-bottom: 8px;
    color: #8C523B;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
}

.off{
    color: #EEAC7E;
}

.boton{
    text-align: center;
}

.btn-agregar{
    background-color: #8F8360;
    color: #43231B;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
}

.btn-agregar:hover{
    background-color: #EEAC7E;
}

/*Contacto*/

.contacto{
    background-color: #EEAC7E;
    color: #43231B;
}
.cont-title{
    color: #8C523B;
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(64px, 8vw, 64px);
    text-align: center;
}

.text-cont{
    font-size: clamp(32px, 4vw, 24px);
    text-align: center;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
}

.form-container{
    text-align: center;
    margin: 8px;
    padding: 10px;
}

.formulario{
    background-color:#8F8360;
    font-size: 18px;
    border: 2px solid #43231B;
    border-radius: 4px;
    width: 350px;
    margin: auto;
}

input[type=text],[type=email], textarea{
    color: #43231B;
    border: none;
    font-size: 16px;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
}

input[type=text]{
    margin: 10px;
    border-bottom: 1px solid #50723C;
}

input[type=email]{
    margin-bottom: 12px;
    border-bottom: #50723C;
}

.mensaje{
    margin-bottom: 32px;
    border: 1px solid #50723C;
    padding: 3px;
}

.btn-enviar{
    margin-bottom: 32px;
    margin-top: 12px;
    padding: 8px;
    background-color: #8F8360;
    color: #43231B;
    font-size: 16px;
    border-radius: 8px;
}

.btn-enviar:hover{
    background-color: #EEAC7E;
}

footer{
    background-color: #8F8360;
    color: #3C3316;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.links-secu{
    width: 25%;
}

.mapa{
    width: 50%;;
}

.redes{
    width: 25%;
    color: #8C523B;
}

@media only screen and (max-width: 720px){
    footer{
        flex-direction: column;
    }
    .logo-container{
        background-color: #8F8360;
    }
}

@media only screen and (max-width: 1000px){
    .obra-container{
        flex-direction: column;
    }

    .obra-img{
        width: 100%;
        padding: 10px;
    }

    .obra-img img{
        width: 50%;
    }

    .obra-texto{
        padding: 10px;
    }
}