@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Quintessential&display=swap');

body {
    background-color: #E9CF99;
}

.navbar {
    background-color: #8C523B;
}
.navbar-nav .nav-item {
    color: #43231B;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav .active {
    color: #E9CF99 !important; 
}

/*INICIO*/
#inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inicio img {
    width: 30%;
}

.frase {
    width: 70%;
    font-size: clamp(32px, 6vw, 64px);;
    color: #43231B;
    font-family: "Fleur De Leah", Verdana, Geneva, Tahoma, sans-serif;
}





