@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Quintessential&display=swap');

body {
    background-color: #E9CF99;
}

.navbar {
    background-color: #8C523B;
}
.navbar-nav .nav-item {
    color: #43231B;
    font-family: Quintessential, Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav .active {
    color: #E9CF99 !important; 
}

/*Tienda*/
.container-img-tienda {
    height: 300px;
    overflow: hidden;
}

.container-img-tienda img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.card-title{
    color:#8C523B;
    font-family: "Quintessential", Verdana, Geneva, Tahoma, sans-serif;
}

h5.card-title {
    color: #8C523B;
}

.btn.btn-primary{
    background-color: #43231B;
    border: #43231B;
}

.btn.btn-primary:hover{
    background-color: #8C523B;
}

.text-tienda{
    font-family: "Quintessential", Verdana, Geneva, Tahoma, sans-serif;
    color: #43231B;
    padding: 2.5%
}

.precio {
    font-family: "Quintessential", Verdana, Geneva, Tahoma, sans-serif;
    color: #43231B;
    font-size: 110%;

}
/*Footer*/
footer{
    background-color: #8F8360;
    color: #3C3316;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.links-secu{
    width: 25%;
}

.mapa{
    width: 50%;;
}

.redes{
    width: 25%;
}

.redes i {
    font-size: 40px; 
    color: #8C523B; 
    margin: 10px; 
}


